/obj
/bin
/.vs
packages/DocumentFormat.OpenXml.2.5/lib/DocumentFormat.OpenXml.dll
packages/DocumentFormat.OpenXml.2.5/DocumentFormat.OpenXml.2.5.nupkg
/Arbeitszeugnisgenerator-master.rar
/Files/CriteriasWrapper.xml
