/obj
/bin
/.vs
packages/DocumentFormat.OpenXml.2.5/lib/DocumentFormat.OpenXml.dll
packages/DocumentFormat.OpenXml.2.5/DocumentFormat.OpenXml.2.5.nupkg
/Arbeitszeugnisgenerator-master.rar
/Files/CriteriasWrapper.xml
/UnitTestProject1/.vs/UnitTestProject1/v14
/UnitTestProject1/obj/Debug
/UnitTestProject1/bin/Debug
